VITE_FIREBASE_API_KEY=AIzaSyDoDtdpEBVoioe89kaZ5CxPoSyxqDl3MRw
VITE_FIREBASE_AUTH_DOMAIN=portal-pedidos-ef054.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=portal-pedidos-ef054
VITE_FIREBASE_STORAGE_BUCKET=portal-pedidos-ef054.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=578270170966
VITE_FIREBASE_APP_ID=1:578270170966:web:305e56ba107539196d90f7
VITE_APP_ID=produccion
